* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  background: var(--system-violet, #6725a8);
  font-style: normal;
}

b {
  background-color: transparent;
}

button {
  cursor: pointer;
}

/* Header */

header {
  padding: 16px 0px 16px 24px;
}

.top-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.left-top-corner-nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.right-top-corner-nav {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.right-top-corner-nav_caption {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.input-box {
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 0px 20px;
  width: 970px;
  height: 48px;
  position: relative;
  top: 7px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border: none;
  outline: none;
  background: transparent;
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.search-input::placeholder {
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

/* Main */

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  background: #f6f6fa;
}

main {
  padding: 24px 24px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 24px;
  background: #f6f6fa;
  width: fit-content;
}

.goods-section {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #f6f6fa;
}

section {
  background: #f6f6fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.all-goods_choose-all {
  padding-top: 17px;
  background: #f6f6fa;
  border-bottom: 1px solid #9797af;
  display: flex;
  padding-bottom: 16px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 899px;
  justify-content: space-between;
}

.all-goods_choose-all_box {
  display: flex;
  gap: 11px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  accent-color: #cb11ab;
}

img {
  background: transparent;
  cursor: pointer;
}

img.all-goods_choose-all_show-more {
  background: #f6f6fa;
}

label,
span {
  background: #f6f6fa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-goods_product-cart {
  background: #f6f6fa;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.all-goods_product-cart_item-box {
  background: #f6f6fa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.all-goods_product-cart_main {
  background: #f6f6fa;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 397px;
}

.all-goods_product-cart_checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f6f6fa;
  gap: 16px;
}

h3 {
  background: #f6f6fa;
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h2 {
  background: #f6f6fa;
}

p {
  background: #f6f6fa;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.all-goods_product-cart-desc {
  width: 275px;
}

.all-goods_product-cart-desc_extra-info {
  color: var(--system-gray, #9797af);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-goods_product-cart_input-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f6f6fa;
  gap: 56px;
}

.all-goods_product-cart_input-info_quantity {
  background: #f6f6fa;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.all-goods_product-cart_input {
  border-radius: 8px;
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 12px;
  justify-content: space-between;
}

.all-goods_product-cart_input-button {
  background: transparent;
  border: none;
  width: 9px;
}

input {
  background: transparent;
  border: none;
  cursor: auto;
  outline: none;
  width: 44px;
}

.product-cart_input-digit {
  text-align: right;
}

.warning-message {
  color: #ff3b30;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: fit-content;
}

.like-delete {
  background: transparent;
  text-align: right;
}

.all-goods_product-cart_input-info_price {
  background: #f6f6fa;
}

.all-goods_product-cart_input-info_price-old {
  text-decoration: line-through;
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.all-goods_product-cart_deleted-item {
  color: var(--system-gray, #9797af);
}

.all-goods_product-cart_deleted-item:hover {
  text-decoration: underline;
}

.all-goods_product-cart-desc_item-name:hover {
  text-decoration: underline;
}

.all-methods-wrapper {
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

/* Метод оплаты */
.all-method-box {
  display: flex;
  padding: 16px 24px 24px 24px;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--background-white, #fff);
  width: 843px;
}

.all-method-box_header-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
}

.delivery-method-box_info_items {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.all-method-box_header {
  color: var(--text-black, #000);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
  background: var(--background-white, #fff);
}

.all-method-box_header-button {
  background: transparent;
  border: none;
  color: var(--system-magenta, #cb11ab);
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.delivery-method-box_text-aside {
  background: var(--background-white, #fff);
  color: var(--text-black, #000);
  width: 153px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.delivery-method-box_text {
  background: var(--background-white, #fff);
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.delivery-method-box_color-text {
  background: var(--background-white, #fff);
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.delivery-method-box_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  background: transparent;
}

.delivery-method-box_info-extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  background: transparent;
  align-items: center;
}

.delivery-method-box_info-extra-text {
  background: var(--background-white, #fff);
  color: var(--text-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.delivery-method-box_info-extra-color-text {
  background: var(--background-white, #fff);
  color: var(--system-green, #0cb477);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}

/* Payment method */

.payment-method-box_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  gap: 8px;
  width: 100%;
}

.payment-method-box_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent;
  gap: 8px;
}

.payment-method-box_info-text {
  background: var(--background-white, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.payment-method-box_info-text-extra {
  width: 100%;
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  background: var(--background-white, #fff);
}

/* Информация о получателе */

.receiver-info-wrapper {
  display: flex;
  gap: 24px;
  background: transparent;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 14px;
}

.receiver-info {
  border-bottom: 1px solid #9797af;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.receiver-name {
  width: 338px;
}

.receiver-data {
  width: 218px;
}

.receiver-phone {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  color: #9797af;
  background: var(--background-white, #fff);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.receiver-regno {
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  position: relative;
  top: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Итог заказа */

.concluding-card_wrapper {
  display: flex;
  width: 429px;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  width: 381px;
  gap: 24px;
  border-radius: 16px;
  background: var(--background-white, #fff);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.concluding-card_boxes {
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.concluding-card_text_wrapper {
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.concluding-card_left-text,
.concluding-card_right-text {
  background: var(--background-white, #fff);
}

.concluding-card_right-text {
  text-align: right;
}

.concluding-card_text {
  background: var(--background-white, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.concluding-card_color-text {
  background: var(--background-white, #fff);
  color: var(--system-magenta, #cb11ab);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}

.concluding-card_extra-text_wrapper {
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
  margin-top: 12px;
}

.concluding-card_extra-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.concluding-card_extra-text_color-text {
  color: var(--system-green, #0cb477);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}

.concluding-card_text_header {
  background: var(--background-white, #fff);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper {
  background: var(--background-smoky, #f6f6fa);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.concluding-card_extra-text_checkbox-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  gap: 8px;
}

.concluding-card_order {
  background: transparent;
}

.concluding-card_order_button {
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  color: var(--system-white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  width: 381px;
  height: 44px;
}

.concluding-card_order_checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: transparent;
  gap: 8px;
  padding-top: 12px;
}

#order-checkbox {
  accent-color: #ffffff;
}

.concluding-card_order_checkbox-text {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  background: transparent;
}

.concluding-card_order_checkbox_color-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

/* Footer */

.footer-text {
  background: transparent;
  padding: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
