* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  background: var(--system-violet, #6725a8);
}

b {
  background-color: transparent;
}

/* Header */

header {
  padding: 24px 16px;
}

.top-content {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.left-top-corner-nav {
  display: flex;
  gap: 16px;
}

.right-top-corner-nav {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.right-top-corner-nav_caption {
  color: white;
}

.input-box {
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
}

.search-input {
  display: flex;
  padding-bottom: 0px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border: none;
  outline: none;
  background: transparent;
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.search-input::placeholder {
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

/* Main */

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  background: #f6f6fa;
}

main {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 24px;
  background: #f6f6fa;
  padding: 34px 24px;
}

.goods-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f6f6fa;
}

section {
  background: #f6f6fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.all-goods_choose-all {
  background: #f6f6fa;
  border-bottom: 1px solid #9797af;
  display: flex;
  padding-bottom: 16px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 891px;
  justify-content: space-between;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  accent-color: #cb11ab;
}

img {
  background: transparent;
  cursor: pointer;
}

img.all-goods_choose-all_show-more {
  background: #f6f6fa;
}

label,
span {
  background: #f6f6fa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 827px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-goods_product-cart {
  background: #f6f6fa;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.all-goods_product-cart_item-box {
  background: #f6f6fa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.all-goods_product-cart_main {
  background: #f6f6fa;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 397px;
}

.all-goods_product-cart_checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f6f6fa;
  gap: 16px;
}

h3 {
  background: #f6f6fa;
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h2 {
  background: #f6f6fa;
}

p {
  background: #f6f6fa;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.all-goods_product-cart-desc {
  width: 275px;
}

.all-goods_product-cart-desc_extra-info {
  color: var(--system-gray, #9797af);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-goods_product-cart_input-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f6f6fa;
  gap: 56px;
}

.all-goods_product-cart_input-info_quantity {
  background: #f6f6fa;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.all-goods_product-cart_input {
  border-radius: 8px;
  background: var(--background-white, #fff);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 12px;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 9px;
}

input {
  background: transparent;
  border: none;
  cursor: auto;
  outline: none;
  width: 44px;
}

.product-cart_input-digit {
  text-align: right;
}

.warning-message {
  color: #ff3b30;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: fit-content;
}

.like-delete {
  background: transparent;
  text-align: right;
}

.all-goods_product-cart_input-info_price {
  background: #f6f6fa;
}

.all-goods_product-cart_input-info_price-old {
  text-decoration: line-through;
  color: var(--system-gray, #9797af);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.all-goods_product-cart_deleted-item {
  color: var(--system-gray, #9797af);
}

.all-goods_product-cart_deleted-item:hover {
  text-decoration: underline;
}

.all-goods_product-cart-desc_item-name:hover {
  text-decoration: underline;
}
